@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bevan&family=Protest+Strike&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
@keyframes titulos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.tituloAnimacion {
  animation-name: titulos;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(226, 248, 255);
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}

h1 {
  position: center;
  text-align: center;
  text-transform: uppercase;
  font-family: "Bevan", sans-serif;
  font-size: 60px;
  margin-bottom: 25px;
  margin-top: 25px;
}

h2 {
  position: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
}

h4 {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  margin-bottom: 15px;
}

h5 {
  font-family: "Open Sans", sans-serif;
}

.imgLogo {
  width: 60px;
  height: 70px;
}

.btnLetsGo {
  background: linear-gradient(to right, rgb(86, 165, 192), rgb(147, 215, 238));
  padding: 15px;
  color: #fafafa;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", sans-serif;
}

/* HEADER */
.encabezado {
  background-color: rgb(147, 215, 238);
  border-top: 20px solid rgb(86, 165, 192);
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  height: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}
.encabezado h1 {
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 3rem;
}
.encabezado li {
  list-style-type: none;
  display: inline-block;
}
.encabezado li a:hover {
  color: rgb(86, 165, 192);
}

.blue-bg {
  background-color: #7a96ca;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  display: inline-block;
}

.card h3 {
  text-transform: uppercase;
  color: gray;
  font-size: 0.8rem;
}
.card p {
  line-height: 1.4rem;
}

.btnComprarTour {
  background: linear-gradient(to bottom, rgb(86, 165, 192), rgb(147, 215, 238));
  padding: 10px;
  color: black;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 1.5s;
  font-weight: bold;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}
.btnComprarTour:hover {
  width: 200px;
  background: linear-gradient(to top, rgb(86, 165, 192), rgb(147, 215, 238));
}

.cardPaquete {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  padding-bottom: 100px;
}

.destinos {
  background-color: lightblue;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 16px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.destinos h2 {
  font-size: 3rem;
}

.btnLetsGo {
  background-color: rgb(147, 215, 238);
  color: #fafafa;
}
.btnLetsGo:hover {
  background-color: rgb(86, 165, 192);
  color: #fafafa;
}

h2 {
  text-align: center;
}

.contenedorFlex {
  margin: auto;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main {
  background: rgb(147, 215, 238);
  padding: 20px;
  width: 70%;
  border-bottom: 20px solid rgb(53, 124, 147);
  padding-bottom: 30px;
}
.main article .thumb {
  margin-bottom: 20px;
}
.main article .thumb img {
  width: 100%;
  vertical-align: top;
}
.main article h3 {
  margin-bottom: 20 px;
  font-weight: normal;
  font-size: 2rem;
}
.main article p {
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 27px;
}

aside {
  width: 30%;
  background-color: rgb(86, 165, 192);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 20px solid rgb(53, 124, 147);
}
aside .ad {
  font-size: 30px;
  text-align: center;
  color: #fafafa;
  padding: 50px 0;
  background-color: #4264a2;
  margin-bottom: 20px;
}
aside .ad .adImag {
  width: 60%;
  background-color: #fafafa;
  border-radius: 20px;
}
aside .map {
  width: 30%;
  height: 20px;
  display: flex;
}

.contenedorFlexPost {
  margin: auto;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainPost {
  background: rgb(86, 165, 192);
  padding: 20px;
  width: 50%;
  border-bottom: 40px solid rgb(53, 124, 147);
  padding-bottom: 10px;
}
.mainPost article .thumbPost {
  margin-bottom: 20px;
}
.mainPost article .thumbPost img {
  width: 100%;
  vertical-align: top;
}
.mainPost article h3 {
  margin-bottom: 20 px;
  font-weight: normal;
  font-size: 2rem;
  text-transform: uppercase;
}
.mainPost article p {
  padding-top: 150px;
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 27px;
  color: #fafafa;
}

.asidePost {
  width: 50%;
  background-color: rgb(147, 215, 238);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 40px solid rgb(53, 124, 147);
}
.asidePost .adPost {
  font-size: 30px;
  text-align: center;
  color: #fafafa;
  padding: 50px 0;
  background-color: #4264a2;
  margin-bottom: 20px;
}

@media (max-width: 1023px) {
  /* Header */
  .encabezado {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .main {
    width: 100%;
  }
  aside {
    width: 100%;
    flex-direction: row;
  }
  aside .ad {
    width: 40%;
  }
}
@media (max-width: 400px) {
  aside {
    display: none;
  }
}
@media (max-width: 1200px) {
  aside .map {
    display: none;
  }
}
@media (max-width: 800px) {
  .mainPost {
    width: 100%;
  }
  .asidePost {
    width: 100%;
    flex-direction: row;
  }
  .asidePost .ad {
    width: 40%;
  }
}
@media (max-width: 400px) {
  .asidePost {
    display: none;
  }
}
.form {
  display: flex;
  justify-content: space-around;
}

.titulo {
  text-align: center;
  padding: 2rem;
}

.textoContacto {
  padding-left: 2rem;
}

.parrafoContacto {
  text-align: center;
  padding: 3rem;
}

footer {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border-top: 5px black solid;
  text-align: center;
  background-color: rgb(86, 165, 192);
}
footer p {
  text-decoration: none;
  color: #fafafa;
  font-size: 1rem;
}
footer i {
  margin-right: 15px;
}

/*# sourceMappingURL=estilo.css.map */
