// HTML CONTACTO


.form {
    display: flex;
    justify-content: space-around;
    

  }
  
  .titulo {
    text-align: center;
    padding: 2rem;
    
  }
  
  .textoContacto {
    padding-left: 2rem;
  }
  
  .parrafoContacto {
    text-align: center;
    padding: 3rem; 
  }
  