// MEDIAS QUERIES

@media (max-width: 1023px) {
    /* Header */
  
    .encabezado {
      height: auto;
      flex-direction: column;
      text-align: center;
    }
  }
  
  @media (max-width: 800px) {
    .main {
      width: 100%;
    }
  
    aside {
      width: 100%;
      flex-direction: row;
  
      .ad {
        width: 40%;
      }
    }
  }
  
  @media (max-width: 400px) {
    aside {
      display: none;
    }
  }
  
  @media (max-width: 1200px) {
    aside .map {
      display: none;
    }
  }
  

  @media (max-width: 800px) {
    .mainPost {
      width: 100%;
    }
  
    .asidePost {
      width: 100%;
      flex-direction: row;
  
      .ad {
        width: 40%;
      }
    }
  }
  
  @media (max-width: 400px) {
    .asidePost {
      display: none;
    }
  }
  
  
  